export(runSimulation1)
export(runSimulation2)
export(runSimulation.eaR0)
export(runSimulationSmSamp)
export(generateData)
export(checkConvergence)
export(buildSingleLocSimInstance)
export(buildSingleLocSimInstance2)
export(buildSingleLocSimInstance.eaR0)
export(buildSmSampSimInstance)
export(generateSingleLocData)
export(generateSingleLocData2)
export(generateSingleLocData.eaR0)
export(generateMultiLocData)



